tprogLab1/wsdl/publicador.xml

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servidor/" name="PublicadorService">
<types></types>
<message name="edicionDoGet">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="edicionDoGetResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="cursoGet">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="cursoGetResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="cursoPost">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="cursoPostResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="cursoPut">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="cursoPutResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="cursoVisita">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="cursoVisitaResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="inscricpcionEstudianteEdicionGet">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="inscricpcionEstudianteEdicionGetResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="inscripcionEstudianteEdicionPost">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="inscripcionEstudianteEdicionPostResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="inscripcionEstudianteEdicionPut">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="inscripcionEstudianteEdicionPutResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="inscripcionEstudianteProgramaPost">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="inscripcionEstudianteProgramaPostResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="loginPost">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="loginPostResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="inscripcionDocenteDoGet">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="inscripcionDocenteDoGetResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="edicionDoPost">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="edicionDoPostResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="edicionDoPut">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="edicionDoPutResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="inscripcionDocenteDoPost">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="inscripcionDocenteDoPostResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="inscripcionDocenteDoPut">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="inscripcionDocenteDoPutResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="usuarioDoGet">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="usuarioDoGetResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="usuarioDoPost">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="usuarioDoPostResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="usuarioDoPut">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="usuarioDoPutResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="programaDoGet">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="programaDoGetResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="programaDoPost">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="programaDoPostResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="programaDoPut">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="programaDoPutResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="seguirDoPost">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="seguirDoPostResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="validacionDoGet">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="validacionDoGetResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="institutosCategoriasGet">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="institutosCategoriasGetResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="comentarioDoGet">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="comentarioDoGetResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="comentarioDoPost">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="comentarioDoPostResponse">
<part name="return" type="xsd:string"></part>
</message>
<message name="comentarioDoPut">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="comentarioDoPutResponse">
<part name="return" type="xsd:string"></part>
</message>
<portType name="Publicador">
<operation name="edicionDoGet">
<input wsam:Action="http://servidor/Publicador/edicionDoGetRequest" message="tns:edicionDoGet"></input>
<output wsam:Action="http://servidor/Publicador/edicionDoGetResponse" message="tns:edicionDoGetResponse"></output>
</operation>
<operation name="cursoGet">
<input wsam:Action="http://servidor/Publicador/cursoGetRequest" message="tns:cursoGet"></input>
<output wsam:Action="http://servidor/Publicador/cursoGetResponse" message="tns:cursoGetResponse"></output>
</operation>
<operation name="cursoPost">
<input wsam:Action="http://servidor/Publicador/cursoPostRequest" message="tns:cursoPost"></input>
<output wsam:Action="http://servidor/Publicador/cursoPostResponse" message="tns:cursoPostResponse"></output>
</operation>
<operation name="cursoPut" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/cursoPutRequest" message="tns:cursoPut"></input>
<output wsam:Action="http://servidor/Publicador/cursoPutResponse" message="tns:cursoPutResponse"></output>
</operation>
<operation name="cursoVisita">
<input wsam:Action="http://servidor/Publicador/cursoVisitaRequest" message="tns:cursoVisita"></input>
<output wsam:Action="http://servidor/Publicador/cursoVisitaResponse" message="tns:cursoVisitaResponse"></output>
</operation>
<operation name="inscricpcionEstudianteEdicionGet" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://servidor/Publicador/inscricpcionEstudianteEdicionGetRequest" message="tns:inscricpcionEstudianteEdicionGet"></input>
<output wsam:Action="http://servidor/Publicador/inscricpcionEstudianteEdicionGetResponse" message="tns:inscricpcionEstudianteEdicionGetResponse"></output>
</operation>
<operation name="inscripcionEstudianteEdicionPost" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://servidor/Publicador/inscripcionEstudianteEdicionPostRequest" message="tns:inscripcionEstudianteEdicionPost"></input>
<output wsam:Action="http://servidor/Publicador/inscripcionEstudianteEdicionPostResponse" message="tns:inscripcionEstudianteEdicionPostResponse"></output>
</operation>
<operation name="inscripcionEstudianteEdicionPut" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/inscripcionEstudianteEdicionPutRequest" message="tns:inscripcionEstudianteEdicionPut"></input>
<output wsam:Action="http://servidor/Publicador/inscripcionEstudianteEdicionPutResponse" message="tns:inscripcionEstudianteEdicionPutResponse"></output>
</operation>
<operation name="inscripcionEstudianteProgramaPost" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://servidor/Publicador/inscripcionEstudianteProgramaPostRequest" message="tns:inscripcionEstudianteProgramaPost"></input>
<output wsam:Action="http://servidor/Publicador/inscripcionEstudianteProgramaPostResponse" message="tns:inscripcionEstudianteProgramaPostResponse"></output>
</operation>
<operation name="loginPost">
<input wsam:Action="http://servidor/Publicador/loginPostRequest" message="tns:loginPost"></input>
<output wsam:Action="http://servidor/Publicador/loginPostResponse" message="tns:loginPostResponse"></output>
</operation>
<operation name="inscripcionDocenteDoGet">
<input wsam:Action="http://servidor/Publicador/inscripcionDocenteDoGetRequest" message="tns:inscripcionDocenteDoGet"></input>
<output wsam:Action="http://servidor/Publicador/inscripcionDocenteDoGetResponse" message="tns:inscripcionDocenteDoGetResponse"></output>
</operation>
<operation name="edicionDoPost">
<input wsam:Action="http://servidor/Publicador/edicionDoPostRequest" message="tns:edicionDoPost"></input>
<output wsam:Action="http://servidor/Publicador/edicionDoPostResponse" message="tns:edicionDoPostResponse"></output>
</operation>
<operation name="edicionDoPut" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/edicionDoPutRequest" message="tns:edicionDoPut"></input>
<output wsam:Action="http://servidor/Publicador/edicionDoPutResponse" message="tns:edicionDoPutResponse"></output>
</operation>
<operation name="inscripcionDocenteDoPost" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/inscripcionDocenteDoPostRequest" message="tns:inscripcionDocenteDoPost"></input>
<output wsam:Action="http://servidor/Publicador/inscripcionDocenteDoPostResponse" message="tns:inscripcionDocenteDoPostResponse"></output>
</operation>
<operation name="inscripcionDocenteDoPut" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/inscripcionDocenteDoPutRequest" message="tns:inscripcionDocenteDoPut"></input>
<output wsam:Action="http://servidor/Publicador/inscripcionDocenteDoPutResponse" message="tns:inscripcionDocenteDoPutResponse"></output>
</operation>
<operation name="usuarioDoGet">
<input wsam:Action="http://servidor/Publicador/usuarioDoGetRequest" message="tns:usuarioDoGet"></input>
<output wsam:Action="http://servidor/Publicador/usuarioDoGetResponse" message="tns:usuarioDoGetResponse"></output>
</operation>
<operation name="usuarioDoPost">
<input wsam:Action="http://servidor/Publicador/usuarioDoPostRequest" message="tns:usuarioDoPost"></input>
<output wsam:Action="http://servidor/Publicador/usuarioDoPostResponse" message="tns:usuarioDoPostResponse"></output>
</operation>
<operation name="usuarioDoPut" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/usuarioDoPutRequest" message="tns:usuarioDoPut"></input>
<output wsam:Action="http://servidor/Publicador/usuarioDoPutResponse" message="tns:usuarioDoPutResponse"></output>
</operation>
<operation name="programaDoGet">
<input wsam:Action="http://servidor/Publicador/programaDoGetRequest" message="tns:programaDoGet"></input>
<output wsam:Action="http://servidor/Publicador/programaDoGetResponse" message="tns:programaDoGetResponse"></output>
</operation>
<operation name="programaDoPost">
<input wsam:Action="http://servidor/Publicador/programaDoPostRequest" message="tns:programaDoPost"></input>
<output wsam:Action="http://servidor/Publicador/programaDoPostResponse" message="tns:programaDoPostResponse"></output>
</operation>
<operation name="programaDoPut">
<input wsam:Action="http://servidor/Publicador/programaDoPutRequest" message="tns:programaDoPut"></input>
<output wsam:Action="http://servidor/Publicador/programaDoPutResponse" message="tns:programaDoPutResponse"></output>
</operation>
<operation name="seguirDoPost" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/seguirDoPostRequest" message="tns:seguirDoPost"></input>
<output wsam:Action="http://servidor/Publicador/seguirDoPostResponse" message="tns:seguirDoPostResponse"></output>
</operation>
<operation name="validacionDoGet">
<input wsam:Action="http://servidor/Publicador/validacionDoGetRequest" message="tns:validacionDoGet"></input>
<output wsam:Action="http://servidor/Publicador/validacionDoGetResponse" message="tns:validacionDoGetResponse"></output>
</operation>
<operation name="institutosCategoriasGet">
<input wsam:Action="http://servidor/Publicador/institutosCategoriasGetRequest" message="tns:institutosCategoriasGet"></input>
<output wsam:Action="http://servidor/Publicador/institutosCategoriasGetResponse" message="tns:institutosCategoriasGetResponse"></output>
</operation>
<operation name="comentarioDoGet">
<input wsam:Action="http://servidor/Publicador/comentarioDoGetRequest" message="tns:comentarioDoGet"></input>
<output wsam:Action="http://servidor/Publicador/comentarioDoGetResponse" message="tns:comentarioDoGetResponse"></output>
</operation>
<operation name="comentarioDoPost" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/comentarioDoPostRequest" message="tns:comentarioDoPost"></input>
<output wsam:Action="http://servidor/Publicador/comentarioDoPostResponse" message="tns:comentarioDoPostResponse"></output>
</operation>
<operation name="comentarioDoPut" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/comentarioDoPutRequest" message="tns:comentarioDoPut"></input>
<output wsam:Action="http://servidor/Publicador/comentarioDoPutResponse" message="tns:comentarioDoPutResponse"></output>
</operation>
</portType>
<binding name="PublicadorPortBinding" type="tns:Publicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="edicionDoGet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="cursoGet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="cursoPost">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="cursoPut">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="cursoVisita">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="inscricpcionEstudianteEdicionGet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="inscripcionEstudianteEdicionPost">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="inscripcionEstudianteEdicionPut">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="inscripcionEstudianteProgramaPost">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="loginPost">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="inscripcionDocenteDoGet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="edicionDoPost">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="edicionDoPut">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="inscripcionDocenteDoPost">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="inscripcionDocenteDoPut">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="usuarioDoGet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="usuarioDoPost">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="usuarioDoPut">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="programaDoGet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="programaDoPost">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="programaDoPut">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="seguirDoPost">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="validacionDoGet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="institutosCategoriasGet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="comentarioDoGet">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="comentarioDoPost">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="comentarioDoPut">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorService">
<port name="PublicadorPort" binding="tns:PublicadorPortBinding">
<soap:address location="http://localhost:8000/publicador"></soap:address>
</port>
</service>
</definitions>